{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="abouty">
    <h1>Nice To Meet You......</h1>
 
    <p>We Herbal World Welcome you all</p>
    <p>For the finest in indoor and outdoor plants, come to Plant World! Plant World is the premier nursery for all of your planting needs. Our professional landscape design artists can visit your home and make recommendations for plants to use in your home or your yard.

    <p><b>Our company</b></p>
    
    <p>■ Founded in 1999 by Jared Adam Smith</p>
    
    <p>■ Headquartered in Fairfield, Connecticut</p>
    
   <p>■ 38 store locations throughout New England</p>
    
   <p><b> Our services</b></p>
    
   <p> ■ Landscape design</p>
    
   <p >■ Planting and maintenance</p>
    
    <p>■ Online information for all types of plants</p>
    <p>■ Celling of Medicinal plants</p>
    
    <p>To learn more about the Plant World products and services, please browse the Plant World Web site, where you can find information on all types of plants, both for indoor and outdoor use. You also can learn about this month's featured desert plants, which have a natural beauty that can enhance any landscape!
    </p>
</div>
            
    {% endblock %}