{% extends 'base.html' %}
{% block content %}
<!-- view_cart.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
  
</head>
<body>
    <h1>Shopping Cart</h1>
    <ul class="cart-list">
        {% for item in cart %}
            <li>
                <span class="cart-item">
                    <p>{{ item.name }}</p>
                     <p>${{ item.price }}</p> </span>
                <a href="{% url 'remove_from_cart' item.id %}" class="remove-from-cart-btn">Remove</a>
            </li>
        {% endfor %}
    </ul>
    <p class="total-price">Total Price: ${{ total_price }}</p>

</body>
</html>

{% endblock %}