{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block link %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}

</head>
<body>
    {% block content %}
    <div class="edi">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Update">
            
        </form>
    </div>
  
    {% endblock %}
    
</body>
</html>