{% load static %}
<link rel="stylesheet"  href="{% static 'css/main.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<div class="homz">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="head">
  <a href="#" ><img class="logo" src="{% static 'images/logo.jpg' %} "></i></a>
  <p><b>Herbal world</b></p>
 <form method="get" action="{% url 'search' %}">
  
  <input class="searching" type="search" name="search_items" placeholder="Search by names">
 </form>
      
   <div class="header">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
   
      <div class="marg2">
        <li class="nav-item active">


          <a class="nav-link" href="{% url 'home' %}"  style="text-decoration: none;">Home<span class="sr-only"></span></a>
        </li>
        
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'log' %}"style="text-decoration: none;">Login<span class="sr-only"></span></a>
        </li>
        
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'signin' %}"style="text-decoration: none;">Register<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'logout' %}"  style="text-decoration: none;">Logout<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'cate' %}"  style="text-decoration: none;">Category<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'view_cart'  %}"  style="text-decoration: none;">Cart<span class="sr-only"></span></a>
            </li>
          
            
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'abt' %}"  style="text-decoration: none;">About</a><span class="sr-only"></span></a>
            </li>
    </div></div>
    
   
</nav> 
</div>
</body>
</html>
