
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<form class="login" method="post">
    {% csrf_token %}
    <div class="log">
        <h1>Login </h1>
        <div class="logg">
            <label>Username</label>
            <input type="text" placeholder="Enter your username" name="username">
            <label>Password</label>
            <input type="password" placeholder="Enter your password" name="password">
        
        <input class="sub" type="submit" value="Login">
    </div></div>
</form>
</body>
</html>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}